<launch>
  <include file="$(find drone_arena)/launch/test_optitrack_odom.launch"/>
  <node name='fence' pkg='drone_arena' type='fence_control.py' output="screen" ns="bebop">
    <remap from="odom" to="mocap_odom"/>
    <param name="tau" value="0.5"/>
    <param name="rotation_tau" value="0.5"/>
    <param name="eta" value="1.0"/>
    <param name="max_speed" value="1.5"/>
    <param name="max_acceleration" value="1.0"/>
    <param name="delay" value="0.1"/>
    <param name="control_camera" value="false"/>
    <rosparam param="pos_bounds">[[-2.4, 2.4], [-2.4, 1.8], [0.5, 2.0]]</rosparam>
    <rosparam param="home">[1.8, -1.8, 1, 1.57]</rosparam>
  </node>
  <remap from="cmd_vel" to="cmd_vel_input"/>
  <remap from="takeoff" to="takeoff_input"/>
  <!-- <remap from="land" to="land_input"/> -->
  <include file="$(find bebop_tools)/launch/joy_teleop.launch">
    <arg name="teleop_config" default="$(find drone_arena)/config/log710-demo-nav.yaml" />
  </include>
  <node name="path_planner" pkg='drone_arena' type='test_client.py' output="screen" ns="bebop">
    <rosparam param="home">[1.8, -1.8, 1, 1.57]</rosparam>
    <rosparam param="plan">
      - [0.5,  -2,  1.5,  -1.57]
      - [-2, -1.5,  1.5,  -3.14]
    </rosparam>
    <param name="loop" value="true"/>
  </node>
  <node name="nav_planner" pkg='drone_arena' type='test_nav_client.py' output="screen" ns="bebop">
    <rosparam param="nav_plan">
      - [2,  2,  1.5]
      - [-2, -2,  1.5]
    </rosparam>
  </node>
  <node name="photographer" pkg='drone_arena' type='photographer.py' output="screen" ns="bebop">
    <rosparam param="place">[0, 0.8, 1.7, 2.9]</rosparam>
    <rosparam param="observe">[-4, 1.8, 0.8]</rosparam>
  </node>
  <node name='diagnostics' pkg='drone_arena' type='diagnostics.py' output="screen" ns="bebop">
  </node>
  <!-- <node name='bag' pkg="rosbag" type="record" args='-o /bags/demo -j -a -x "(.*)(camera|image)(.*)"'/> -->
</launch>
